#top {
    /* Шапка с заголовком страницы */
    background: #e3e8cc;
    /* Цвет фона */
    border: solid 1px black;
    /* Параметры рамки  */
    padding: 10px 0 10px 10px;
    /* Поля вокруг текста */
    margin-bottom: 5px;
    /* Расстояние между шапкой и колонками */
    font-size: 24px;
    /* Размер шрифта */
    font-weight: bold;
    /* Жирное начертание */
}

#col1 { /* Левая колонка */ 
    position: absolute; /* Абсолютное позиционирование */
    width: 190px; /* Ширина слоя */
    left: 0px; /* Положение от левого края окна */ 
    margin-left: -200px; /* внешний левый отступ отрицательного значения */
    padding-left: 200px; /* внутренне левое поле */
    background: #800000; /* Цвет фона левой колонки */
}

#col2 { /* Правая колонка */ 
    background: #e0e0e0; /* Цвет фона правой колонки */
    padding: 5px; /* Поля вокруг текста */
}

#container {
    border-left: 200px solid #800000;
}

#bottom {
    position: relative;
    /* Подвал */
    background: #e3e8cc;
    /* Цвет фона */
    border: solid 1px black;
    /* Параметры рамки */
    padding: 3px;
    /* Поля вокруг текста */
}

body {
    padding: 0;
    /* Отступы для браузера Opera */
    margin: 0;
    /* Обнуляем значения отступов на веб-странице */
}