body {
    margin: 0;
}

#leftCol {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #0189e1;
}

#rightCol {
    position: absolute;
    right: 0;
    height: 100%;
    width: 80%;
}

#top {
    position: relative;
    height: 15%;
    width: 100%;
    background-color: #f57f01;
}

#body {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #fefa02;
}

#bot {
    position: relative;
    height: 15%;
    width: 100%;
    background-color: #00904a;
}

.box {
    position: absolute;
    width: 250px;
    height: 100px;
}

#box1 {
    background-color: #f57f01;
    top: 50px;
    left: 30px;
}

#box2 {
    background-color: #f02f72;
    top: 120px;
    left: 150px;
}

#box3 {
    background-color: #c1bfc0;
    top: 190px;
    left: 270px;
}

/*  top f57f01
    body fefa02
    bot 00904a
    box1 f57f01
    box2 f02f72
    box3 c1bfc0*/