body {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

#top {
    position: relative;
    height: 15%;
    width: 100%;
    background-color: aquamarine;
}

#body {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: blueviolet;
}

#leftCol {
    width: 20%;
    height: 100%;
}

#rightCol {
    top: 0;
    right: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: black;
}

#bot {
    position: relative;
    height: 15%;
    width: 100%;
    position: relative;
    background-color: blue;
}