#top {
    /* Шапка с заголовком страницы */
    background: #e3e8cc;
    /* Цвет фона */
    border: solid 1px black;
    /* Параметры рамки  */
    padding: 10px 0 10px 10px;
    /* Поля вокруг текста */
    margin-bottom: 5px;
    /* Расстояние между шапкой и колонками */
    font-size: 24px;
    /* Размер шрифта */
    font-weight: bold;
    /* Жирное начертание */
}

#col1 {
    /* Левая колонка */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 190px;
    /* Ширина блока*/
    left: 0px;
    /* Координата от левого края окна */
    top: 55px;
    /* Координата от верхнего края окна */
    background: #800000;
    /* Цвет фона левой колонки */
    padding: 5px;
    /* Поля вокруг текста */
}

#col2 {
    /* Правая колонка */
    margin-left: 200px;
    /* Отступ слева=ширине левой колонки + padding */
    background: #e0e0e0;
    /* Цвет фона правой колонки */
    padding: 5px;
    /* Поля вокруг текста */
}

#bottom {
    position: relative;
    /* Подвал */
    background: #e3e8cc;
    /* Цвет фона */
    border: solid 1px black;
    /* Параметры рамки */
    padding: 3px;
    /* Поля вокруг текста */
}

body {
    padding: 0;
    /* Отступы для браузера Opera */
    margin: 0;
    /* Обнуляем значения отступов на веб-странице */
}